.svg-404-dims {
	width: 336px;
	height: 120px;
}

.svg-add-dims {
	width: 24px;
	height: 24px;
}

.svg-add-file-dims {
	width: 24px;
	height: 24px;
}

.svg-add-to-friends-dims {
	width: 24px;
	height: 24px;
}

.svg-alarm_on-dims {
	width: 100px;
	height: 101px;
}

.svg-arrow-left-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-right-dims {
	width: 24px;
	height: 24px;
}

.svg-bad-dims {
	width: 24px;
	height: 24px;
}

.svg-block-dims {
	width: 24px;
	height: 24px;
}

.svg-cancel-dims {
	width: 21.9px;
	height: 21.9px;
}

.svg-chat_bubble_outline-dims {
	width: 18px;
	height: 18px;
}

.svg-complain-dims {
	width: 24px;
	height: 24px;
}

.svg-copy-dims {
	width: 24px;
	height: 24px;
}

.svg-deal-dims {
	width: 24px;
	height: 24px;
}

.svg-delete-dims {
	width: 24px;
	height: 24px;
}

.svg-done-dims {
	width: 18px;
	height: 19px;
}

.svg-down-arrow-dims {
	width: 24px;
	height: 24px;
}

.svg-download-dims {
	width: 24px;
	height: 24px;
}

.svg-edit-dims {
	width: 24px;
	height: 24px;
}

.svg-exchange-dims {
	width: 24px;
	height: 24px;
}

.svg-eye-dims {
	width: 16px;
	height: 16px;
}

.svg-forum_in_progress-dims {
	width: 162px;
	height: 162px;
}

.svg-friends-dims {
	width: 24px;
	height: 24px;
}

.svg-get-bit-dims {
	width: 24px;
	height: 24px;
}

.svg-good-dims {
	width: 24px;
	height: 24px;
}

.svg-info-dims {
	width: 24px;
	height: 24px;
}

.svg-log-out-dims {
	width: 24px;
	height: 24px;
}

.svg-login-dims {
	width: 24px;
	height: 24px;
}

.svg-map-dims {
	width: 24px;
	height: 24px;
}

.svg-neutral-dims {
	width: 24px;
	height: 24px;
}

.svg-next-arrow-dims {
	width: 8px;
	height: 13px;
}

.svg-notif-good-dims {
	width: 32px;
	height: 32px;
}

.svg-notif-mail-dims {
	width: 32px;
	height: 33px;
}

.svg-notif-warning-dims {
	width: 32px;
	height: 33px;
}

.svg-ok-dims {
	width: 24px;
	height: 24px;
}

.svg-ok-outline-dims {
	width: 48px;
	height: 48px;
}

.svg-pause-dims {
	width: 24px;
	height: 24px;
}

.svg-play-dims {
	width: 24px;
	height: 24px;
}

.svg-prev-arrow-dims {
	width: 8px;
	height: 12px;
}

.svg-price-dims {
	width: 24px;
	height: 24px;
}

.svg-reject-dims {
	width: 48px;
	height: 48px;
}

.svg-reload-more-dims {
	width: 24px;
	height: 24px;
}

.svg-rules-dims {
	width: 24px;
	height: 24px;
}

.svg-security-dims {
	width: 24px;
	height: 24px;
}

.svg-security-lost-dims {
	width: 24px;
	height: 24px;
}

.svg-send-dims {
	width: 24px;
	height: 24px;
}

.svg-send-bit-dims {
	width: 24px;
	height: 24px;
}

.svg-signup-dims {
	width: 24px;
	height: 24px;
}

.svg-time-dims {
	width: 16px;
	height: 16px;
}

.svg-tooltip-dims {
	width: 24px;
	height: 24px;
}

.svg-transactions-dims {
	width: 24px;
	height: 24px;
}

.svg-user-info-dims {
	width: 24px;
	height: 24px;
}

.svg-wallet-dims {
	width: 24px;
	height: 24px;
}

.svg-wonder-dims {
	width: 24px;
	height: 24px;
}

